/* *{
	margin:0.5%;
	pad:10 10;
	box-sizing: border-box;
	max-width: 100%;
	max-height: 100%;
} */

.meow-script-regular {
	font-family: "Meow Script", cursive;
	font-weight: 400;
	font-style: normal;

	font-size: 45px;
	text-align: center;
	margin-top: 49px;
	margin-bottom: 10px;
	color:  beige;
}   

#name{
	padding-top: 20;
	padding-bottom: 40px;
	color:  beige;
}

body{
	height: 100vh;
	background: linear-gradient(
	to bottom, 
	#5A623B 20%,
	#5A623B 100%,
	#FFFFFF 80%,
	#FFFFFF 80%,
	#433011 30%,
	#433011 20%
	);
}

html{
    scroll-behavior: smooth;
    scroll-margin: 60px;
}


/* .navbar{
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: olive;
} */

.navbar{
	background-color: #151c03;
	padding: 3px;
	font-family: sans-serif;
	/* margin-left: -8.5px;
	margin-right: -8.5px;
	margin-top: -8.5px; */
	display: flex;
}
  
.navbar li {
	display: inline;
	letter-spacing: 1px;
	font-size: 12px;
	padding-right: 15px;
	padding-left: 15px;
}

.navbar .links {
	margin-left: auto;
	padding-right: 40px;
}
  
.navbar li a {
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	color: beige;
}

#logo{
	padding-top: 15px;
	padding-left:45px;
}

#logo a{
	color: beige;
	text-transform: uppercase;
	text-decoration: none;
	font-family: "Meow Script", cursive;
}

/* .navbar .links{
	display: flex;
	gap: 30px;
} */

/* .a{
	font-size: 20px;
	cursor: pointer;
	text-decoration: none;
} */

/* .p1{
	font-size: 20px; 
	font-family: "Gill Sans", sans-serif;
	color: #FFFFFF;
	padding: 20px;
	float: left;
}

.p2{
	font-size: 20px; 
	font-family: "Gill Sans", sans-serif;
	color: #FFFFFF;
	padding: 20px;
	float: right;
} */

/* .hero img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	float: right;
} */

#img-home {
	float: right;
	border-radius: 10%;
	height: 52%;
}

.p-home {
	font-size: 18.5px;
	font-family: sans-serif;
	margin-right: 390px;
}

#second{
	margin-top: 70px;
	margin-bottom: 55px;
}

.text{
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
	/* position: absolute;
	top: 15%;
	left: 50%;
	transform: translate(-50%, -50%); */
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	padding-bottom: 35px;
	padding-right: 60px;
	padding-left: 60px;
    
}

.product{
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
 	border-radius: 60px;
    padding: 20px;
    margin: 33px;
    width: 250px;
    text-align: center;
    font-family: "Gill Sans", sans-serif;
    font-size: 17px;
}

.product img{
    /* max-width: 100%; */
	padding-top: 15px;
    height: 300px;
}

.buy{
    background-color: #FFFFFF;
    color: #000000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    align-content: center;
    justify-content: center;
    /* margin: 0 10px; */
}


.h2{ 
	font-family: serif;
	color: #F2F2F2;
}

.h4{
	font-family: sans-serif;
	color: #FFFFFF;
}

.p{
	font-family: sans-serif;
	color: #FFFFFF;
}

#about {
	padding: 30px;
	padding-left: 80px;
	padding-right: 80px;
	padding-bottom: 80px;
	margin: 60px;
	margin-left: auto;
	margin-right: auto;
	width: 65%;
	background-color: beige;
	border-top-right-radius: 50px;
	border-bottom-left-radius: 50px;
}

#about .meow-script-regular {
	color: black;
}

#some {
	margin-top: 80px;
	margin-bottom: 50px;
}

input, select, textarea{
	width: 60%;
	padding: 15px;
	border: solid 0.5px;
	background-color: beige;
	border-radius: 10px;
}

label{
	font-family: sans-serif;
}

.submit {
	background-color: #5c623f;
	color: beige;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    align-content: center;
    justify-content: center;
}

.rest {
	margin-bottom: 40px;
}

.mail label{
	padding-right: 36px;
}

#about h3 {
	font-family: sans-serif;
	margin-top: 50px;
	color: #5A623B;
}

#abouttable td{
	width: 70px;
	font-family: sans-serif;
}

#abouttable th{
	font-family: sans-serif;
	font-size: medium;
	text-align: left;
	height: 25px;
	width: 165px;
}

#tab{
	display: flex;
}

#bigdiv {
	display: flex;
}

#tb2 {
    margin-left: auto;
}

.checkdiv {
	background-color: beige;
	padding: 60px;
	margin-top: 25px;
	margin-left: 400px;
	margin-right: 400px;
	border-radius: 20px;
}

#checklogo{
	background-color: beige;
	height: 100%;
}

#pr1, #pr2 {
	margin-bottom: 25px;
	background-color: #dbdbbf;
	border-radius: 10px;
	padding: 10px;
}

#pr3{
	background-color: #dbdbbf;
	border-radius: 10px;
	padding: 10px;
}

.location{
    margin-left: 22px;
}

#summary{
	font-family: sans-serif;
	margin-left: 21px;
	font-size: 25px;
}

#final{
	font-family: sans-serif;
	font-size: 16px;
	margin-left: 21px;
}

.place-button {
	background-color: #5c623f;
	color: beige;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
	width: 93%;
	height: 50px;
	font-size: 18px;
}

.payment-div {
	background-color: beige;
	margin-top: 25px;
	border-radius: 20px;
	width: 750px;
	padding: 60px;
	margin-top: 90px;
}

.cvc label{
	margin-right: 50px;
}

.footer{
	border: none;
	margin-left: -8.5px;
	margin-right: -8.5px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 40px;
	padding-top: 40px;
	background-color: #6d7548;
}

.wrapper{
	margin-top: 50px;
}
	
.wrapper h1{
	color: #403D36;
	font-size: 52px;
	margin-bottom: 60px;
	text-align: center;
}

#about {
	padding: 30px;
	padding-left: 80px;
	padding-right: 80px;
	padding-bottom: 80px;
	margin: 60px;
	width: 65%;
	background-color: beige;
	border-top-right-radius: 50px;
	border-bottom-left-radius: 50px;
	margin-left: auto;
	margin-right: auto;
}

#about .meow-script-regular {
	color: black;
}

#about h3 {
	font-family: sans-serif;
	margin-top: 50px;
	color: #5A623B;
}

#abouttable td{
	width: 70px;
	font-family: sans-serif;
}

#abouttable th{
	font-family: sans-serif;
	font-size: medium;
	text-align: left;
	height: 25px;
	width: 165px;
}

.containerabout {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.contentabout {
    padding: 20px;
}

.about{
	display: flex;
	justify-content: center;
	width: auto;
	text-align: center;
	flex-wrap: wrap;
	font-family: sans-serif;
}
	
.about .aboutbox{
	background: #EFEFEF;
	margin: 5px;
	margin-bottom: 50px;
	width: 300px;
	padding: 20px;
	line-height: 20px;
	color: #8e8b8b;  
	position: relative;
	border-radius: 20px;
	box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
	transition: 0.4s;
}

.about .aboutbox h3{
	color: #735C4B;
	font-size: 26px;
	margin-top: 50px;
	margin-bottom: 30px;
}
	
.about .aboutbox p.role{
	color: #403D36;
	margin: 12px 0;
	font-weight: bold;
	font-size: 15px;
	text-transform: uppercase;
}

.about .aboutbox .ceo{
	position: absolute;
	top: -50px;
	left: 50%;
	transform: translateX(-50%);
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: #EFEFEF;
}

.about .aboutbox .ceo img{
	width: 100px;
	height: 100px;
	border-radius: 50%
}